/*----------------------------------------------------------------------------*\
    #LOGIN
\*----------------------------------------------------------------------------*/
/**
 *
 * 01. Desktop.............................................................
 * 02. Max-width 769px....................................................
 * 03. Max-width 1000px....................................................
 * 04. Min-width 481px....................................................
 * 05. Min-width 769px....................................................
 * 06. Min-width 1001px....................................................
 * 07. Min-width 1367px....................................................
 *
 */

/*----------------------------------------------------------------------------*\
    #01. Desktop
\*----------------------------------------------------------------------------*/

.inputs .required{
  color: $primary;
  margin: 0 0.2rem !important;
}

.gender{
  width: 100%;
}

.form-check-label{
  margin-left: 0.5rem;
}

.date-of-birth .date-picker-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.date-of-birth select {
    width: 32%;
}








/*----------------------------------------------------------------------------*\
    #02. Max-width 769px
\*----------------------------------------------------------------------------*/



/*----------------------------------------------------------------------------*\
    #03. Max-width 1000px
\*----------------------------------------------------------------------------*/




/*----------------------------------------------------------------------------*\
    #04. Min-width 481px
\*----------------------------------------------------------------------------*/



/*----------------------------------------------------------------------------*\
    #05. Min-width 769px
\*----------------------------------------------------------------------------*/



/*----------------------------------------------------------------------------*\
    #06. Min-width 1001px
\*----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------*\
    #07. Min-width 1367px
\*----------------------------------------------------------------------------*/

