/*----------------------------------------------------------------------------*\
    #Fonts
\*----------------------------------------------------------------------------*/
/**
 * 01. Titulos....................Fuentes para titulos.
 * 02. Body.......................Fuentes del body.
 */





/*----------------------------------------------------------------------------*\
    #01. Titulos: 
\*----------------------------------------------------------------------------*/
@font-face {
    font-family: 'Glacial Indifference';
    src: url('/Themes/Goya2/Content/webfonts/GlacialIndifference-Regular.woff2') format('woff2'),
        url('/Themes/Goya2/Content/webfonts/GlacialIndifference-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glacial Indifference';
    src: url('/Themes/Goya2/Content/webfonts/GlacialIndifference-Bold.woff2') format('woff2'),
        url('/Themes/Goya2/Content/webfonts/GlacialIndifference-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Glacial Indifference';
    src: url('/Themes/Goya2/Content/webfonts/GlacialIndifference-Italic.woff2') format('woff2'),
        url('/Themes/Goya2/Content/webfonts/GlacialIndifference-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}