<section class="tns-carousel tns-controls-lg tns-carousel-home">
    <!-- Hero slider-->
    <div class="tns-carousel-inner" data-carousel-options="{&quot;mode&quot;: &quot;gallery&quot;, &quot;responsive&quot;: {&quot;0&quot;:{&quot;nav&quot;:true, &quot;controls&quot;: false},&quot;992&quot;:{&quot;nav&quot;:false, &quot;controls&quot;: true}}}">
        <!-- Item-->
        <div class="px-lg-5" style="background-image:url(/images/home/brown-background.jpg);background-size:cover;background-repeat:no-repeat;background-position:center center;">
            <div class="container">
                <div class="d-lg-flex justify-content-between align-items-center">
                    <div class="order-lg-2" style="max-width: 32rem;">
                        <img class="d-block flex-shrink-0 img-fluid mw-75" src="/images/home/neceser-banner.png" alt="Neceser personalizado">
                    </div>
                    <div class="position-relative mb-lg-5 order-lg-1" style="max-width: 42rem; z-index: 10;">
                        <div class="pe-lg-5 mb-lg-5 text-center text-lg-start">
                            <h2 class="mb-5 text-light display-3 from-top delay-1">Texto a definir</h2>
                            <p class="fs-lg text-light fw-light mb-3 from-top delay-2">El mejor merchandasing personalizado</p>
                            <p class="fs-lg text-light fw-light mb-5 from-top delay-3">Regalos publicitarios para empresas B2B, artículos promocionales, ecológicos y comprometidso con el logo de tu cliente</p>
                            <div class="d-table scale-up delay-4 mx-auto mx-lg-0"><a class="btn btn-primary" href="/tecnología-y-accesorios">Ver más</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





