<section class="tns-carousel tns-controls-lg mb-4 mb-lg-5">
    <!-- Hero slider-->
    <div class="tns-carousel-inner" data-carousel-options="{&quot;mode&quot;: &quot;gallery&quot;, &quot;responsive&quot;: {&quot;0&quot;:{&quot;nav&quot;:true, &quot;controls&quot;: false},&quot;992&quot;:{&quot;nav&quot;:false, &quot;controls&quot;: true}}}">
        <!-- Item-->
        <div class="px-lg-5" style="background-color: #eba170;">
            <div class="d-lg-flex justify-content-between align-items-center ps-lg-4">
                <img class="d-block order-lg-2 me-lg-n5 flex-shrink-0" src="images/home/03.jpg" alt="Men Accessories">
                <div class="position-relative mx-auto me-lg-n5 py-5 px-4 mb-lg-5 order-lg-1" style="max-width: 42rem; z-index: 10;">
                    <div class="pb-lg-5 mb-lg-5 text-center text-lg-start text-lg-nowrap">
                        <h3 class="h2 text-light fw-light pb-1 from-top">Ponte a la última</h3>
                        <h2 class="text-light display-5 from-top delay-1">Tecnología y accesorios</h2>
                        <p class="fs-lg text-light pb-3 from-top delay-2">Altavoces, Powerbanks, Informática y mucho más...</p>
                        <div class="d-table scale-up delay-4 mx-auto mx-lg-0"><a class="btn btn-primary" href="/tecnología-y-accesorios">Compra ahora<i class="bi bi-chevron-right"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Item-->
        <div class="px-lg-5" style="background-color: #3aafd2;">
        <div class="d-lg-flex justify-content-between align-items-center ps-lg-4"><img class="d-block order-lg-2 me-lg-n5 flex-shrink-0" src="images/home/02.jpg" alt="Summer Collection">
            <div class="position-relative mx-auto me-lg-n5 py-5 px-4 mb-lg-5 order-lg-1" style="max-width: 42rem; z-index: 10;">
            <div class="pb-lg-5 mb-lg-5 text-center text-lg-start text-lg-nowrap">
                <h3 class="h2 text-light fw-light pb-1 from-start">Prepárate ya!</h3>
                <h2 class="text-light display-5 from-start delay-1">Lluvia e invierno</h2>
                <p class="fs-lg text-light pb-3 from-start delay-2">Paraguas, Mantas, Bufandas y mucho más...</p>
                <div class="d-table scale-up delay-4 mx-auto mx-lg-0"><a class="btn btn-primary" href="/lluvia-e-invierno">Compra ahora<i class="bi bi-chevron-right"></i></a></div>
            </div>
            </div>
        </div>
        </div>
        <!-- Item-->
        <div class="px-lg-5" style="background-color: #f5b1b0;">
        <div class="d-lg-flex justify-content-between align-items-center ps-lg-4"><img class="d-block order-lg-2 me-lg-n5 flex-shrink-0" src="images/home/01.jpg" alt="Women Sportswear">
            <div class="position-relative mx-auto me-lg-n5 py-5 px-4 mb-lg-5 order-lg-1" style="max-width: 42rem; z-index: 10;">
            <div class="pb-lg-5 mb-lg-5 text-center text-lg-start text-lg-nowrap">
                <h3 class="h2 text-light fw-light pb-1 from-bottom">Rápido! Estamos de liquidación</h3>
                <h2 class="text-light display-5 from-bottom delay-1">Artículos para el verano</h2>
                <p class="fs-lg text-light pb-3 from-bottom delay-2">Accesorios playa, Pareos, Niños y mucho más...</p>
                <div class="d-table scale-up delay-4 mx-auto mx-lg-0"><a class="btn btn-primary" href="/verano">Compra ahora<i class="bi bi-chevron-right"></i></a></div>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>





